<strong>Nueva Queja <%= @entry.identificator %></strong><br>
<strong>Nombre:</strong> <%= @entry.user.name %><br>
<strong>Correo:</strong> <%= @entry.user.email %><br>
<strong>Mensaje:</strong><br>
<p><%= @entry.message %></p>
